.App {
  text-align: center;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 75px);
}

html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: left;
  overflow: auto;
}

.bm-item {
  display: grid;
  justify-content: flex-start;
  text-decoration: none;
  margin-bottom: 1px;
  color: #000000;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: relative;
  width: 50px;
  height: 24px;
  left: 24px;
  top: 24px;
}

.bm-burger-bars {
  background: #373a47;
  margin-top: 12px;
  margin-left: 25px;


}

.bm-cross-button {
  height: 75px;
  width: 75px;
}

.bm-cross {
  background: #000000;
  margin-top: 25px;
}

.bm-menu {
  background: #ffff;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 25px;
  padding: 2em 1em 0;
  font-size: 1.1em;
}

.bm-morph-shape {
  fill: #e3e5ed;
}

.bm-item-list {
  color: #000000;
}